body {
    font-family: "Helvetica, sans-serif";
  }

  nav, header h1, li {
    display: inline-block;
  }

 li {
    color: green;
    margin-right: 20px;
 }

 header h1 {
    margin-right: 60px;
 }

 header {
    border-bottom: 2px solid black;
 }