@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  font-family: 'Montserrat', sans-serif;
  padding: 16px;
}

th {
  background-color: lightblue;
  width: 144px;
  height: 32px;
  border: 1px solid #ccc;
  padding-left: 5px;
}

th, td {
  width: 144px;
  height: 32px;
  border: 1px solid #ccc;
  padding-left: 5px;
}