* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body {
   
    min-height: 100vh;
    max-width: 100vw;
    border: 2px black solid;
}
header {
    border-bottom: 2px black solid;
    display: flex;
    margin: 0px 48px;
   
}
header h1 {
    padding-top: 48px;
   /* background-color: brown; */
}

ul {
    display: flex;
    width: 24vw;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    height: 20vh;
}

a {

 color: rgb(0, 153, 0);
 
}
/*          |      |             */
/*          | main |             */
/*          V      V             */


main {
    padding: 24px 48px;

}
p {
    padding-top: 24px;
}