section {
    position: absolute;
    top: 250px;
    left: 180px;
  }
  
  h3 {
    font-size: 16px;
    margin: 0;
  }
  
  span {
    padding-left: 3px;
    color: gray;
    font-size: 14px;
  }
  
  div {
    position: relative;
    bottom: 48px;
    left: 8px;
    
  }