body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100vw;
    background-color: rgb(238, 238, 238);
    font-family: Helvetica, sans-serif;
    margin: 0px;
    border: 2px solid black;
}

.site-footer {
    flex-shrink: 0;
    background-color: rgb(102, 102, 102);
    color: rgb(255, 255, 255);
}
header {
    border-bottom: 2px solid black;
    width: 100%;
    padding: 16px;
}
main{
    padding-left: 16px;
    padding-top: 48px;
}
h1, p:not(p:last-child) {
    margin-top: 12px;
}
p:last-child{
    margin-bottom: 48px;
}
footer {
    position: sticky;
    bottom: 0px;
    height: 54px;
    padding: 16px;
}